<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hzaihua.jfoenix.dao.DeviceTypeDao">
    <!--查询-->
    <select id="queryByTypeCode" resultType="string">
        select typeTableName from Device_Type where typeTableCode=#{typeTableCode}
    </select>
</mapper>
