<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hzaihua.jfoenix.dao.InfoMeasureDao">
    <!--查询所有  -->
    <select id="queryAll" resultType="com.hzaihua.jfoenix.entity.InfoMeasure">
        select * from Info_Measure
    </select>
    <select id="queryDevicesByMeasureCode" resultType="string">
        select deviceTypeAndIDs from Info_Measure where measureCode=#{measureCode}
    </select>
    <!-- 添加 -->
    <!--<insert id="" parameterType="">

    </insert>
    &lt;!&ndash; 修改属性 &ndash;&gt;
    <update id="" parameterType="">

    </update>
    &lt;!&ndash; 删除 &ndash;&gt;
    <delete id="" parameterType="">

    </delete>
    &lt;!&ndash; 根据ID查询 &ndash;&gt;
    <select id="" resultType="">

    </select>-->
</mapper>
