<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hzaihua.jfoenix.dao.WeatherDateDao">
    <!-- 添加 -->
    <insert id="insertWeatherDate" parameterType="com.hzaihua.jfoenix.entity.WeatherDate">
      insert into weather_date
        values(#{noiseCode},#{measureTime},#{unitTime},#{w_Speed},
        #{w_Direction},#{a_Temp},#{humi_R},#{ari_p},#{PRF},
        #{maxSpeed},#{minSpeed},#{maxHumi},#{minHumi},#{maxAtemp},#{minAtemp},#{maxAri},#{minAri})
    </insert>
    <!--根据时间段查询-->
    <select id="queryWeatherByTime" resultType="com.hzaihua.jfoenix.entity.WeatherDate">
        select * from weather_date
        between measureTime=#{measureTime} and measureTime=#{measureTime}
    </select>
    <!--根据设备编号查询时间段数据-->
    <select id="queryWeatherByCodeAndTime" resultType="com.hzaihua.jfoenix.entity.WeatherDate">
        select * from weather_date
        where noiseCode=#{noiseCode}
        between measureTime=#{measureTime} and measureTime=#{measureTime}
    </select>
    <select id="queryAllWeaHour" resultType="com.hzaihua.jfoenix.entity.WeatherDate">
        select noiseCode,measureTime from weather_date
    </select>
</mapper>
